<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_index') }}">feds</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Liga Nacional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Campeonato de España</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Copa de España</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calendario
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Fecha futbol sala</a></li>
            <li><a class="dropdown-item" href="#">Sorteo</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Normas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Futbol sala</a></li>
            <li><a class="dropdown-item" href="#">Reumen</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Documentos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{ path('app_incripcion_liga_nacional')}}">Incripcion Liga Nacional</a></li>
            <li><a class="dropdown-item" href="{{ path('app_incripcion_campeonatode_espana')}}">Incripcion Campeonato de España</a></li>
            <li><a class="dropdown-item" href="#">Licencia</a></li>
            <li><a class="dropdown-item" href="#">Formulario 06 modelo</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if is_granted('ROLE_USER') %}
          <li class="nav-item text-center">
            <a class="nav-link active" href="{{ path('app_profile')}}"><i class="fa-solid fa-address-card fs-1"></i></i><br>Perfil</a>
          </li>
          <li class="nav-item text-center">
            <a class="nav-link active" href="{{ path('app_logout')}}"><i class="fa-solid fa-power-off fs-1"></i><br>Salir</a>
          </li>
        {% else %}
        <li class="nav-item text-center">
          <a class="nav-link" href="{{ path('app_login')}}"><i class="fa-solid fa-user fs-1"></i><br>Cuenta</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
